@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

* {
    box-sizing: border-box;
    padding: 0;
    font-family: "Varela Round", sans-serif;
    font-style: normal;

}

body {
    @apply bg-secondary-1 dark:bg-primary-5
}


.p-button {
    @apply bg-primary-5 hover:!bg-primary-3 p-2 text-secondary-1 dark:bg-secondary-1 dark:text-primary-5 text-base border-transparent;
}

.p-select {
    @apply text-lg h-10 flex justify-between items-center p-2;

}

.p-select-label {
    @apply text-base;
}

.p-button-icon {
    @apply text-red-600;
}